/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,

a,

img,

ol,
ul,
li,
form,
label,
legend,
table,
article,
footer,
header,
menu,
nav,
output,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hiden {
  display: none;
}

body {
  font-family: "Inter Tight",
    sans-serif;
  ;
}

/* ========================================================================= */

.header-container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  padding-top: 20px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
}

.header-data {
  display: none;
}

.header-logo {
  color: #000;
  font-size: 24px;
}


.header-menu-svg {
  display: flex;
  gap: 12px;
}

.header-data-menu {
  display: flex;
  gap: 30px;
}



/* ================================ Tablet ================================ */

@media screen and (min-width: 768px) {
  .header-data {
    display: block;
  }

  .burger {
    display: none;
  }
}